@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* 가져가기 */
.App {
  position: relative;
  width: 100%;
  height: 100%;
  background: #ffffff;
  display: flex;
  justify-content: center;
}
/* 가져가기 */
.front,
.back {
  pointer-events: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate3d(-50%, -50%, 0);
  font-size: 10em;
  font-family: 'Inter', serif;
  font-weight: 800;
  color: white;
}

.front {
  color: transparent;
  -webkit-text-stroke-width: 0.1rem;
  -webkit-text-stroke-color: white;
}

.canvasWrapper {
  background: #a3bfba;
}

/* ////////////////////ImageUploader////////////////////////// */
div.projectUploadPageContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 72px 0px;
  position: relative;
  width: 360px;
  height: 100%;
  top: 80px;
  color: #191a20;
  font-family: Noto Sans KR;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 24px;
}
div.project_name {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  position: static;
  width: 360px;
  height: 72px;
  left: 0px;
  top: 72px;
}
span.required {
  color: #536dfe;
}
div.subject_wrapper {
  position: static;
  left: 0%;
  right: 17.78%;
  top: 0%;
  bottom: 81.82%;

  font-family: Noto Sans KR;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 24px;
  /* identical to box height, or 150% */

  display: flex;
  align-items: center;
  letter-spacing: -0.01em;

  /* 191A20 */

  color: #191a20;

  /* Inside Auto Layout */

  flex: none;
  order: 0;
  flex-grow: 0;
  margin: 8px 0px;
}
div.ImageUploaderOneCon {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;

  position: static;
  width: 360px;
  height: 132px;
  left: 0px;
  top: 168px;

  flex: none;
  flex-grow: 0;
  margin: 24px 0px;
}

div.ImageUploaderManyCon {
  display: flex;
  flex-direction: column;
  /* align-items: flex-start;
  padding: 0px;

  position: static;
  width: 360px;
  height: 132px;
  left: 0px;
  top: 168px;

  flex: none;
  flex-grow: 0;
  margin: 24px 0px; */
}
div.input_file_wrapper {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0px;

  position: static;
  width: 359px;
  height: 100px;
  left: 0px;
  top: 32px;

  /* Inside Auto Layout */

  flex: none;
  /* order: 1; */
  flex-grow: 0;
  margin: 8px 0px;
}
.img_preview {
  position: static;
  width: 100px;
  height: 100px;
  left: 0px;
  top: 0px;
  display: flex;
  justify-content: center;
  align-items: center;

  background: #e0e2e7;
  border: 1px solid #e0e2e7;
  box-sizing: border-box;
  border-radius: 4px;

  /* Inside Auto Layout */
  margin-right: 12px;
  flex: none;
  order: 0;
  flex-grow: 0;
  cursor: pointer;
}
.img_condition {
  width: 247px;
  height: 100%;
  position: static;
  left: 31.2%;
  right: 0%;
  top: 0%;
  bottom: 0%;

  font-family: Noto Sans KR;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 18px;
  /* or 150% */

  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
  letter-spacing: -0.01em;

  color: #8c8d96;
}
.img_conditionMany {
  width: 247px;
  height: 100%;
  position: static;
  left: 31.2%;
  right: 0%;
  top: 0%;
  bottom: 0%;

  font-family: Noto Sans KR;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 18px;
  /* or 150% */

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  letter-spacing: -0.01em;

  color: #8c8d96;
}
.descriptionInput {
  position: static;
  width: 247px;
  height: 100px;
  left: 112px;
  top: 0px;

  background: #ffffff;
  border: 1px solid #d9d9d9;
  box-sizing: border-box;
  border-radius: 4px;
}
.condition_subject {
  display: block;
}
.condition_desc {
  font-weight: normal;
}
.condition_desc1 {
  color: #536dfe;
  font-weight: normal;
  /* width: 150px; */
}
.condition_desc2 {
  font-weight: normal;
  width: 150px;
}
input.input_small {
  position: static;
  width: 360px;
  height: 40px;
  left: 0px;
  top: 32px;

  /* FFFFFF */

  background: #ffffff;
  border: 1px solid #d9d9d9;
  box-sizing: border-box;
  border-radius: 4px;

  /* Inside Auto Layout */

  flex: none;
  order: 1;
  flex-grow: 0;
  margin: 8px 0px;
}
div.imageUploaderContainer {
  width: 100vw;
  /* height: 100vh; */
  display: flex;
  align-items: start;
  justify-content: center;
}
div.contextCon {
  display: flex;
  flex-direction: column;
}
div.projectInfo {
  display: flex;
}

img.preview {
  width: 200px;
  height: 200px;
  /* border-radius: 50%; */
}

.project_stack {
  display: flex;
  column-gap: 16px;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  position: static;
  left: 0px;
  top: 72px;
  /* margin-bottom: 24px; */
}

button.previewBtn {
  background-color: #4000c7;
  text-decoration: none;
  border: none;
  padding: 20px;
  color: white;
  border-radius: 30px;
  cursor: pointer;
}

/* ////////////////// Modal ///////////////////// */

div.modalBackdrop {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
  width: 100vw;
  height: 100vh;
}

div.modalView {
  z-index: 1;
  background-color: #fff;
  width: 80vw;
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
  border-style: none;
  border-radius: 10px;
}
